// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post_section{
  display: none;
}

#ajax_loader {
  position: absolute;
  left: 10px;
  top: 10px;
}